@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    padding-left: 20px;
    background-color: transparent;
}

.player,
.local,
.visitor {
    background-color: transparent;
    position: relative;
}


.container {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
}

.container>div {
    width: 50%;
    margin: 10px;
    padding: 10px;
    align-items: center;
}


.logo {
    max-width: 10%;
}

/****************************************************/
/* Posiciones iniciales de los jugadores locales   */
/**************************************************/

#play12 {
    position: absolute;
    z-index: 1000;
    left: 1248px;
    top: 560px;
}

#play11 {
    position: absolute;
    z-index: 1000;
    left: 1214px;
    top: 780px;
}

#play10 {
    position: absolute;
    z-index: 1000;
    left: 920px;
    top: 780px;
}

#play9 {
    position: absolute;
    z-index: 1000;
    left: 888px;
    top: 572px;
}

#play8 {
    position: absolute;
    z-index: 1000;
    left: 886px;
    top: 380px;
    filter: brightness(140%);
}

#play7 {
    position: absolute;
    z-index: 1000;
    left: 1210px;
    top: 380px;
}

#play5 {
    position: absolute;
    z-index: 1000;
    left: 333px;
    top: 360.5px;
}

#play1 {
    position: absolute;
    z-index: 1000;
    left: 280px;
    top: 805px;
}

#play6 {
    position: absolute;
    z-index: 1000;
    left: 441px;
    top: 554.5px;
}

#play4 {
    position: absolute;
    z-index: 1000;
    left: 630px;
    top: 400px;
    filter: brightness(140%);
}

#play3 {
    position: absolute;
    z-index: 1000;
    left: 652px;
    top: 620px;
}

#play2 {
    position: absolute;
    z-index: 1000;
    left: 675px;
    top: 758.5px;
}

#ball {
    position: absolute;
    z-index: 1000;
    left: 430px;
    top: 260px
}


.objeto {
    position: relative;
    display: inline-block;
    text-align: center;
}

.objeto {
    position: relative;
    display: inline-block;
    text-align: center;
}

.numero,
.numVisita {
    visibility: hidden;
}

#numero {
    position: relative;
    font-family: 'Righteous';
    transform: translate(-50%, -50%);
}

p {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #2596be;
    border-radius: 100%;
    width: 22px;
    height: 32px;
    font-size: 20px;
}


.draggable {
    display: none;
}


/* Estilos básicos para el select */
select {
    appearance: none;
    /* Elimina el estilo por defecto */
    -webkit-appearance: none;
    /* Elimina el estilo por defecto en Safari y Chrome */
    -moz-appearance: none;
    /* Elimina el estilo por defecto en Firefox */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    width: 100%;
    max-width: 200px;
    /* Ancho máximo para el select */
    margin: 10px 0;
}

/* Estilos para el icono de la flecha */
select::after {
    content: '\25BC';
    /* Código Unicode para la flecha hacia abajo */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Contenedor para posicionar el icono de la flecha */
.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 200px;
}

/* Estilos para cuando el select está enfocado */
select:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para los options */
select option {
    padding: 10px;
}

/* Estilo para el botón */
.button-borrar {
    background-color: #f2f2f2;
    color: #fc0d0d;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Righteous';
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para cuando el cursor está sobre el botón */
.button-borrar:hover {
    background-color: #e0e0e0;
    color: #007BFF;
}

/* Estilo para cuando el botón está activo o presionado */
.button-borrar:active {
    background-color: #ccc;
    color: #000;
}

@media screen and (max-width: 700px) {

    .draggable {
        display: inline-block;
    }

    #drag-0,
    #drag-1,
    #drag-2,
    #drag-3,
    #drag-4,
    #drag-5,
    #drag-6,
    #drag-7,
    #drag-8,
    #drag-9,
    #drag-10,
    #drag-11,
    #drag-12 {
        min-height: 1.5 em;
        margin: 1 rem;
        background-color: none;
        color: white;
        border-radius: 0.75 em;
        touch-action: none;
        user-select: none;
        transform: translate(0px, 0px);
    }

    select {
        margin: 2px 0;
    }

}

.main-container {
    background-color: rgb(113, 128, 212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #fff;
}



@media screen and (max-width: 540px) {
    .playWeb {
        display: none;
    }

    .field {
        display: none;
    }

    .mobile {
        background-image: url("assets/img/field.jpg");
    }


}