* {
    padding-left: 20px;
    background-color: transparent;
}

.player {
    background-color: transparent;
}

#cco {
    max-width: 100 px;
}

#drag-1,
#drag-2,
#drag-3,
#drag-4,
#drag-5,
#drag-6 {
    width: max-content;
    min-height: 2.5 em;
    margin: 1 rem;
    background-color: none;
    color: white;
    border-radius: 0.75 em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
}


@media screen and (max-width:700px) {
    .container {
        display: none;
    }
